* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/*----------------------------HEADER------------------------------*/
header {
    background-color: white;
}
.contenedorimagen p{
    margin-top: 0px;
    padding: 5px;
}

.barra-contenedor1{
    margin: 10px;
    display:flex;
    justify-content: center;
}
.barra-contenedor2 {
    display: block;
    background-color: aquamarine;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
}

.contenedorimagen {
    text-align: center;
}

.contenedorimagen p{
    text-align: center;
    font-size: 15px;
    font-style: italic;
}
.img {
    width: 40%;
}

a {
    font-size: 13px;
    color: rgb(85, 119, 97);
    display: block;
    padding: 2px;
    text-align: center;
    text-decoration: none;
}
.fa-solid .fa-shop{
    color:#557761
}

/*----------------------------------INDEX-----------------------------*/
/*----IndexMain---*/

/*---MAIN---*/

h1 {
    font-size: 30px;
    color: rgb(85, 119, 97);
}

.contenedoresIndex {
    display: grid;
   /* grid-template-columns: 50fr 50fr;
    grid-template-rows: 50fr 50fr;*/
    margin: 10px;
    padding: 10px ;
    }

.contenedor {
    margin: 10px;
    padding: 10px ;
    border: 2px solid rgb(85, 119, 97);
    border-radius: 12px;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    font-size: 15px;
    height: 170px;
    align-items: center;
    color: rgb(85, 119, 97)
}
.fa-pagelines {
    color: rgb(85, 119, 97);
    width: 10px;
    height: 10px;
    padding-bottom: 5px;
    align-items: center;
}

.enlace {
    color: white;
    font-size: 30px;
    margin-top: 30px;
    padding-top: 10px;
}

.bloque1 {
    font-size: 15px;
    height: 50%;
    margin: 10px;
    padding: 80px;
    text-align: center;
    background-image: url("../img/concientizacion.jpg");
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
}

.bloque2 {
    font-size: 15px;
    height: 50%;
    margin: 10px;
    padding: 80px;
    text-align: center;
    background-image: url("../img/recoleccionSelectiva.jpg");
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
}

.bloque3 {
    font-size: 15px;
    height: 50%;
    margin: 10px;
    padding: 80px;
    text-align: center;
    background-image: url("../img/compostaje.jpeg");
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
}

.bloque4 {
    font-size: 15px;
    height: 50%;
    margin: 10px;
    padding: 80px;
    text-align: center;
    background-image: url("../img/compostaje2.jpg");
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
}

.fa-solidfa-cart-shopping {
    padding-right: 5px;
    color: rgb(211, 220, 214);
}

.bloque {
    height: 50%;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
}

p {
    color: rgb(85, 119, 97);
    text-align: justify;
    padding: 5px;
    margin: 8%;
}

/*--------------------SUSTENTABILIDAD-----------*/

.bloque-h1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(217, 228, 153);
    font-size: 30px;
    color: rgb(85, 119, 97);
    border-radius: 5px;

}

.concientizacion1 h1 {
    align-items: center;
}

.concientizacion1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(217, 228, 72);
    border-radius: 5px;
}

.concientizacion1 ul li {
    display: block;
}

.concientizacion2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(217, 228, 113);
    border-radius: 5px;
}

.concientizacion3 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(217, 228, 153);
    border-radius: 5px;
}

li {
    list-style-type: none;
}

.iralHome a {
    font-size: 18px;
    color: rgb(85, 119, 97);
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    align-content: center;

}

/*-------------------Compostaje---*/
.cuerpo {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.cuerpo-img{
    padding: 10px;
}

/*-----------------RECOLECCION SELECTIVA --------------*/

.serviciosImagen {
    text-align: center;
    margin: 40px;
}
.serviciosImagen img{
    border-radius: 5px;
}

.servicios h1 {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.servicios p {
    font-size: 12px;
    padding: 8px;
    margin: 8px;
}

/*-------------------TIENDA----------------------------*/
.contenedorProdutos {
    display: grid;
    justify-items: center;
    margin: 10px;
    padding: 20px;
}

.produto__img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5px;
}

.producto {
    display: inline-block;
    width: 70%;
    height: 100%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(85, 119, 97);
    border-radius: 10px;
    background-color: white;
    color: rgb(85, 119, 97);
    text-align: center;
}

.producto__title {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.bloquetienda {
    text-align: center;
    color: rgb(85, 119, 97);
    background-color: rgb(217, 228, 153);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;

}

.fa-cart-plus {
    color: rgb(85, 119, 97);
}

/*----FOOTER---*/

footer {
    font-size: 12px;
    text-align: center;
    background-color: rgb(68, 245, 140);
    color: rgb(85, 119, 97);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.fa-brands {
    padding-right: 5px;
}

.menufooter {
    padding: 5px;
}

.menufooter3 {
    padding: 5px;
}
.fa-solid .fa-location-dot{
    color: #557761
}
.fa-solid .fa-phone{
    color: #557761
}
.fa-brands .fa-instagram .fa-facebook .fa-twitter .fa-whatsapp{
    color: #557761;
}
.fa-solid .fa-credit-card .fa-paypal .fa-envelope{
    color: #557761;
}


/*--------------Form register------------------*/

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    margin: 10px;
    text-align: center;
    color:rgb(90, 90, 14)
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: aquamarine;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(85, 119, 97);
  }

/*-----------------------MEDIA QUERIES-----------------------*/

@media (min-width: 768px){

    /*-------------------header-------------------*/
    .img{
        width: 35%;
    }
    
    .barra-contenedor2{
        display:flex;
        justify-content: space-around;
    }
    a:hover {
    color:rgb(90, 90, 14);
    font-size: 18px;
    }
    
    /*--------------Main---*/
    .contenedoresIndex {
        grid-template-columns: 50fr 50fr;
        grid-template-rows: 50fr 50fr;
        }

        .contenedor:hover{
            background-color: rgb(211, 220, 214);

        }
    .mainIndex {
        display:grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        justify-items: center;
    }
    .bloque1{
        width: 99%;
        height: 90%;
        margin: 0%;
    }
    
    .bloque2{
        width: 99%;
        height: 90%;
        margin: 0%;
    }
    .bloque3{
        width: 99%;
        height: 90%;
        margin:0%;
    }
    .bloque4{
        width: 99%;
        height: 90%;
        margin: 0%;
    }

    /*---------------Recolección Selectiva-----------------*/
    .servicios{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
    }
    .servicios p{
        padding: 19px;
        margin:40px;
    }
    /*-------------Compostaje----------------*/
    .cuerpo {
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 50% 50%;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        margin: 10%;
    }
    .cuerpo-img { 
        width: 65%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 5%;
    }
    
    /*--------------Tienda--------------------*/
    .contenedorProdutos{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-around;
    }
    /*---footer---*/
    
    footer{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }
    .menufooter{
        padding: 7px;
    }
    .menufooter3{
        margin-top: 10px;
    }
    }
    /*---------------Media Queries 1024---------------*/
    @media (min-width: 1024px){
    /*---------------------header---------------------*/
        .img{
            width: 25%;
        }
    
    
        a{
            font-size: 20px;
        }
        a:hover {
            font-size: 25px;
            }
.contenedorimagen p{
    font-size: 25px;
}
        .barra-contenedor1 input {
            height: 35px;
            width: 30%;
            padding: 10px;
            margin:9px;
        
        }
        .barra-contenedor1 button {
            height: 35px;
            width: 4%;
            padding: 10px;
            margin:9px;
        
        }
        /*-----------------------Tienda-------------------*/
        .contenedorProdutos{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
    /*---------------------Footer---------*/
        footer{
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-template-rows: auto;
        }
        .derechos{
            padding:7px;
        }
    
    }